:root {
  --text-color: #ffffff88;
  --hover-color: #ffffff66;
  --background-color: #0c0c0c;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

canvas {
  margin: 25px 50px;
}

div#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 75px;
  max-width: 70vw;
  height: auto;
  padding: 25px;
  margin: 0px 15vw;
  background-color: #ffffff06;
  border: 1px solid var(--hover-color);
  border-radius: 15px;
  flex-wrap: wrap;
}

div#info {
  max-width: 70vw;
  padding: 25px;
  margin: 50px 15vw;
  background-color: #ffffff06;
  border: 1px solid var(--hover-color);
  border-radius: 15px;
  flex-wrap: wrap;
}

div#info > h1 {
  font-size: 22px;
  margin-bottom: 30px;
}

div#info > p {
  font-size: 16px;
}

button {
  background-color: transparent;
  color: var(--text-color);
  font-weight: bold;
  font-size: 22px;
  transition: 0.1s;
  border: 2px solid var(--hover-color);
  border-radius: 8px;
  padding: 10px 15px;
  transition: 0.3s;
  height: 50px;
  width: 175px;
  letter-spacing: 3px;
}

svg {
  width: 25px;
  height: 25px;
}

div.range-container {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

input {
  width: 250px;
  height: 50px;
  accent-color: var(--hover-color);
}

button:hover {
  color: var(--hover-color);
}

.red-button {
  border: 2px solid #ff000066;
  color: #ff000088;
}

.red-button:hover {
  color: #ff000066;
}

.green-button {
  border: 2px solid #00ff0066;
  color: #00ff0088;
}

.green-button:hover {
  color: #00ff0066;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: var(--background-color);
  font-family: sans-serif;
  margin-top: 300px;
}

.footer-icon > svg {
  transition: 0.25s;
}

.footer-icon > svg:hover {
  fill: var(--hover-color);
}

hr {
  width: 90vw;
  max-width: 1080px;
  margin: 0 5vw;
  opacity: 0.5;
  border-width: 1px;
  border-color: var(--hover-color);
}

#footer-link-container {
  display: flex;
  align-items: space-between;
  gap: 75px;
}

#footer-link-container > a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.1s;
  border: 2px solid var(--hover-color);
  border-radius: 8px;
  padding: 10px 15px;
  transition: 0.3s;
}

#footer-link-container > a:hover {
  text-decoration: none;
  color: var(--hover-color);
}

#copyright-text {
  color: var(--text-color);
  font-size: 16px;
  vertical-align: center;
  margin: 0;
  width: 170px;
  font-weight: lighter;
}

#footer-icon-container {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  align-items: center;
  width: 170px;
}

#footer-container {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  margin: 0 6vw;
  padding: 40px 0;
  background: var(--background-color);
  width: 88vw;
  max-width: 900px;
  gap: 50px;
}
